@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

:root {
  --text-main: #171717;
  --bg-main: #dacdc3;
  --border-main: #171717;
  --font-sans: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@theme {
  --font-sans: var(--font-sans);
  --text-color-main: var(--text-main);
  --background-color-main: var(--bg-main);
  --border-color-main: var(--border-main);
}
