---
import NavLink from './NavLink.astro';
---

<header class="w-full pt-10 pb-12">
  <nav class="max-w-3xl mx-auto">
    <ul class="flex items-center gap-6 text-base tracking-widest">
      <li><NavLink href="/" class:list={'hover:underline hover:underline-offset-2 decoration-1'}>Home</NavLink></li>
      <li><NavLink href="/projects" class:list={'hover:underline hover:underline-offset-2 decoration-1'}>Projects</NavLink></li>
      <li><NavLink href="/blog" class:list={'hover:underline hover:underline-offset-2 decoration-1'}>Blog</NavLink></li>
    </ul>
  </nav>
</header>
